{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>HTML CSS FAQ Design | Webdevtrick.com</title>
    <link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
    <link rel="stylesheet" href="{% static 'home/css/faq.css' %}">
        <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}">
</head>

<body>


    <section class="login">
        <div class="col-md-12">
            <div class="section-heading">
                <h1><b>CO-VACCINE</b></h1>
            </div>
        </div>
    </section>

    <br><br>
    <div class="container">

        <h2>Frequently Asked Questions</h2>

        <div class="accordion">
            <div class="accordion-item">
                <a>When will the vaccine be available to me?</a>
                <div class="content">
                    <p>Because the supply of COVID-19 vaccine in the United States is currently limited, CDC is providing recommendations to federal, state, and local governments about who should be vaccinated first. CDC’s recommendations are based on those of the Advisory Committee on Immunization Practices (ACIP), an independent panel of medical and public health experts.

                        Each state has its own plan for deciding which groups of people will be vaccinated first. You can contact your state health department for more information on its plan for COVID-19 vaccination.

                        The goal is for everyone to be able easily to get a COVID-19 vaccination as soon as large quantities of vaccine are available. As the vaccine supply increases, more groups will be added to receive vaccination.</p>
                </div>
            </div>
            <div class="accordion-item">
                <a>What are the common side-effects after getting a COVID-19 vaccine?</a>
                <div class="content">
                    <p>After getting vaccinated, you may have some side effects, which are normal signs that your body is building protection. The most common side effects are pain and swelling in the arm where you received the shot. In addition, you may have fever, chills, tiredness, and headache. These side effects may affect your ability to do daily activities, but they should go away in a few days. </p>
                </div>
            </div>
            <div class="accordion-item">
                <a>If I am pregnant, can I get COVID-19 vaccine?</a>
                <div class="content">
                    <p>Yes. If you are pregnant, you may choose to be vaccinated when it’s available to you. There is currently no evidence that antibodies formed from COVID-19 vaccination cause any problem with pregnancy, including the development of the placenta.

                        People who are trying to become pregnant now or who plan to try in the future may receive the COVID-19 vaccine when it becomes available to them. There is no evidence that fertility problems are a side effect of any vaccine, including COVID-19 vaccines. There is no routine recommendation for taking a pregnancy test before you get a COVID-19 vaccine.

                        If you have questions about getting vaccinated, talking with a healthcare provider may might help you make an informed decision. </p>
                </div>
            </div>
            <div class="accordion-item">
                <a>How long does protection from a COVID-19 vaccine last?</a>
                <div class="content">
                    <p>We don’t know how long protection lasts for those who are vaccinated. What we do know is that COVID-19 has caused very serious illness and death for a lot of people. If you get COVID-19, you also risk giving it to loved ones who may get very sick. Getting a COVID-19 vaccine is a safer choice.
                        Experts are working to learn more about both natural immunity and vaccine-induced immunity. CDC will keep the public informed as new evidence becomes available.</p>
                </div>
            </div>
            <div class="accordion-item">
                <a>Do I need to wear a mask and avoid close contact with others if I have gotten 2 doses of the vaccine?</a>
                <div class="content">
                    <p>Yes. To protect yourself and others, follow these recommendations:
                        Wear a mask over your nose and mouth
                        Stay at least 6 feet away from others
                        Avoid crowds
                        Avoid poorly ventilated spaces
                        Wash your hands often
                        It’s important for everyone to continue using all the tools available to help stop this pandemic as we learn more about how COVID-19 vaccines work in real-world conditions. Experts are also looking at how many people get vaccinated and how the virus is spreading in communities. We also don’t yet know whether getting a COVID-19 vaccine will prevent you from spreading the virus that causes COVID-19 to other people, even if you don’t get sick yourself. </p>
                </div>
            </div>

            <div class="accordion-item">
                <a>What are the ingredients in COVID-19 vaccines?</a>
                <div class="content">
                    <p>The ingredients in currently available COVID-19 vaccines include mRNA, lipids, salts, sugars, and buffers. Buffers help maintain the stability of the pH solution. Vaccine ingredients can vary by manufacturer.</p>
                </div>
            </div>

            <div class="accordion-item">
                <a>Who is paying for the COVID-19 Vaccines?</a>
                <div class="content">
                    <p>The federal government is providing the vaccine free of charge to all people living in the United States. Vaccination providers can be reimbursed for vaccine administration fees by the patient’s public or private insurance company or, for uninsured patients, by the Health Resources and Services Administration’s Provider Relief Fund. No one can be denied a vaccine if they are unable to pay a vaccine administration fee.</p>
                </div>
            </div>

            <div class="accordion-item">
                <a>How many shots of COVID-19 Vaccine will be needed?</a>
                <div class="content">
                    <p>People with underlying medical conditions can receive the FDA-authorized COVID-19 vaccines as long as they have not had an immediate or severe allergic reaction to a COVID-19 vaccine or to any of the ingredients in the vaccine. Vaccination is an important consideration for adults of any age with certain underlying medical conditions because they are at increased risk for severe illness from COVID-19.</p>
                </div>
            </div>
            <div class="accordion-item">
                <a>Can I get vaccinated against COVID-19 while I am currently sick with COVID-19?</a>
                <div class="content">
                    <p>No. People with COVID-19 who have symptoms should wait to be vaccinated until they have recovered from their illness and have met the criteria for discontinuing isolation; those without symptoms should also wait until they meet the criteria before getting vaccinated. This guidance also applies to people who get COVID-19 before getting their second dose of vaccine.</p>
                </div>
            </div>

        </div>

    </div>

    <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
    <script src="{% static 'home/js/faq.js' %}"></script>

</body>

</html>
