{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vaccine Portal</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="{% static 'home/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/owl.theme.default.min.css' %}">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="{%  static 'home/css/font-awesome/css/font-awesome.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}">
</head>


<body data-spy="scroll" data-target=".navbar" data-offset="65">
<header>

    <nav class="navbar navbar-fixed-top navbar-gradient">

        <div class="container-fluid">

            <div class="site-nav-wrapper">

                <div class="navbar-header">

                    <span id="mobile-nav-open-btn" class="hidden-md hidden-lg">&#9776;</span>

                    <a class="navbar-brand smooth-scroll" href="#home">

                        Co-Vaccine

                    </a>

                </div>

                <div class="container">

                    <div class="collapse navbar-collapse">

                        <ul class="nav navbar-nav pull-right">

                            <li><a class="smooth-scroll" href="#home">Home</a></li>

                            <li><a class="smooth-scroll" href="#book">Book</a></li>

                            <li><a class="smooth-scroll" href="#find">Find</a></li>

                            <li><a class="smooth-scroll" href="#get-data">Work</a></li>

                            <li><a class="smooth-scroll" href="#about">About</a></li>

                            {% if user.is_authenticated %}
                                <li class="rs"><a href="{% url 'logout' %}" class="rside btn-general btn-gradient">Logout</a></li>
                            {% else %}
                                <li class="rs"><a href="{% url 'login' %}" class="rside btn-general btn-gradient">Login</a></li>
                                <li class="rs"><a href="{% url 'register' %}" class="rside btn-general btn-gradient">Register</a></li>
                            {% endif %}
                        </ul>


                    </div>

                </div>

                <!-- Mobile Menu -->

                <div id="mobile-nav">

                    <span id="mobile-nav-close-btn">&times;</span>

                    <div id="mobile-nav-content">

                        <ul class="nav">

                            <li><a class="smooth-scroll" href="#home">Home</a></li>

                            <li><a class="smooth-scroll" href="#book">Book</a></li>

                            <li><a class="smooth-scroll" href="#find">Find</a></li>

                            <li><a class="smooth-scroll" href="#get-data">Work</a></li>

                            <li><a class="smooth-scroll" href="#about">About</a></li>

                            {% if user.is_authenticated %}
                                <li class="rs"><a href="{% url 'logout' %}" class="rside btn-general btn-gradient">Logout</a></li>
                            {% else %}
                                <li class="rs"><a href="{% url 'login' %}" class="rside btn-general btn-gradient">Login</a></li>
                                <li class="rs"><a href="{% url 'register' %}" class="rside btn-general btn-gradient">Register</a></li>
                            {% endif %}

                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </nav>

</header>

    <section id="home">
{#    <div class="alert">#}
{#        {% if messages %}#}
{#            {%for message in messages%}#}
{#                <div class="alert alert-{{ message.tags }}">#}
{#                    {{ message }}#}
{#                </div>#}
{#            {%endfor%}#}
{#        {%endif%}#}
{#    </div>#}

        <div class="row">
            <div class="col-md-12">
                <img src="{% static 'home/Images/hero.jpg' %}" alt="home-image" class="img-responsive">
                <div class="text-content">
                    <h5 class="strip-title">Co-Vaccine Provides</h5>
                    <div class="text">
                        <h3 class="subtitle">Faster Access</h3>
                        <h2 class="title">Medical treatment for you and your family.</h2>
                        <ul class="feature-list">
                            <li class="feature-list-item">Risus nec luctus mauris orci auctor purus euismod pretium purus pretium ligula rutrum tempor sapien and luctus</li>
                            <li class="feature-list-item">Nemo ipsam egestas volute turpis dolores ut aliquam quaerat sodales sapien undo pretium purus feugiat dolor impedit</li>
                        </ul>
                        <p><a href="#book" class="btn-general btn-gradient smooth-scroll">Book An Appointment</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

<section id="book">
        <div class="content-box-md space">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h3 style="font-size: 4rem;">Book Appointments!</h3>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h3 style="margin: 45px 0px;">Who can use this Service?</h3>
                        <p>You can only use this service if any of the following apply:</p>
                        <ul>
                            <li>You are aged 55 or above</li>
                            <li>You have previously received a letter saying that you are at high risk from coronavirus.</li>
                            <li>You are an eligible frontline health worker</li>
                        </ul>
                        <div class="yellow">
                            <h4>If you are not eligible yet:</h4>
                            <p>Wait to be contacted. We will let you know when its your turn to have the vaccine.</p>
                        </div>
                        <h3 style="margin: 45px 0px;">Book a Appointment</h3>
                        <p>You need to:</p>
                        <ul>
                            <li>have 2 doses of the coronavirus vaccine at 2 appointments</li>
                            <li>have 2 doses of the coronavirus vaccine at 2 appointments</li>
                            <li>get the 2nd dose 11 to 12 weeks after getting your 1st dose</li>
                            <li style="padding-top: 20px">You can use this service for someone else.</li>
                        </ul>
                        <div class="green">If you've had a positive COVID-19 test, you should wait 4 weeks from the date you had the test before you book an appointment.</div>
                        <div>
                            <a href="{% url 'appointment' %}" class="btn-general btn-gradient" style="margin-top: 50px">Book your Appointment</a>
                        </div>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="find" class="gray">
        <div class="content-box-lg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h1 style="margin-bottom: 25px; text-align: center; color:#0a5796">Find Centres By Navigating Through Maps!</h1>
                        </div>
                        <div class="map text-center">
                            <div class="map-text">
                                <a href="{% url 'map' %}" class="btn-general btn-gradient">Click Here &nbsp;<i class="fa fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="get-data">
        <div class="content-box-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h3>Get Data on Covid19 for any Country!</h3>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <form action="" id="country-form">
                            <input type="text" name="country" id="country" class="form-control" placeholder="Enter Country">
                            <button type="submit" class="btn-general btn-gradient mt20">Submit</button>
                        </form>
                    </div>
                    <div class="col-md-12">
                        <div class="result">
                            <div class="col-md-12 text-center"></div>
                            <div class="col-md-6 text-center">
                                <div class="today-data"></div>
                            </div>
                            <div class="col-md-6 text-center">
                                <div class="yesterday-data"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="gray">
        <div class="content-box-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h3>About Us</h3>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>We want to make vaccination easy and accessible to everyone.</h4>
                                <p>VaccineFinder is a free, online service where users can search for locations that offer vaccinations. We work with partners such as clinics, pharmacies, and health departments to provide accurate and up-to-date information about vaccination services. VaccineFinder is operated by epidemiologists and software developers at Boston Children's Hospital.</p>
                            </div>
                            <div class="col-md-6">
                                <img src="{% static 'home/Images/about.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="clients">
        <div class="content-box-sm">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="clients-elements" class="owl-carousel owl-theme">
                            <div class="client">
                                <img src="{% static 'home/Images/logo/client-1.jpg' %}" alt="clients" class="img-responsive">
                            </div>
                            <div class="client">
                                <img src="{% static 'home/Images/logo/client-2.png' %}" alt="clients" class="img-responsive">
                            </div>
                            <div class="client">
                                <img src="{% static 'home/Images/logo/client-3.jpg' %}" alt="clients" class="img-responsive">
                            </div>
                            <div class="client">
                                <img src="{% static 'home/Images/logo/client-4.png' %}" alt="clients" class="img-responsive">
                            </div>
                            <div class="client">
                                <img src="{% static 'home/Images/logo/client-5.png' %}" alt="clients" class="img-responsive">
                            </div>
                            <div class="client">
                                <img src="{% static 'home/Images/logo/client-6.jpg' %}" alt="clients" class="img-responsive">
                            </div>
                            <div class="client">
                                <img src="{% static 'home/Images/logo/client-7.png' %}" alt="clients" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row text-center">
                <p>&copy; Copyright <strong>Co-Vaccine</strong>. All Rights Reserved.</p>
            </div>
        </div>
    </footer>

<a class="btn-general btn-gradient" style="position: fixed;bottom: 20px; right: 20px; padding: 12px 100px; z-index: 9999;" href="{% url 'faq' %}">FAQ</a>


    <!-- JQuery -->
    <script src="{% static 'home/js/jquery.min.js' %}"></script>

    <!-- Bootstrap JS -->
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>

    <!-- Owl Carousel JS -->
    <script src="{% static 'home/js/owl.carousel.min.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    <!--Custom JS -->
    <script src="{%  static 'home/js/scripts.js' %}"></script>

</body>

</html>
